<a href="https://colab.research.google.com/github/Akter-Zaman/students-Addaptivelity-using-Machine-learning/blob/main/Students_Adaptivility_using_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importing the basic librarires fot analysis

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use("ggplot")  #using style ggplot

%matplotlib inline
import plotly.graph_objects as go
import plotly.express as px

In [ ]:
df=pd.read_csv("file.csv")

In [ ]:
df.head()

  total_sqft  bath  balcony   price
0       1056   2.0      1.0   39.07
1       2600   5.0      3.0  120.00
2       1440   2.0      3.0   62.00
3       1521   3.0      1.0   95.00
4       1200   2.0      1.0   51.00

In [ ]:
df.shape

(13320, 4)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_sqft  13320 non-null  object
 1   bath        13247 non-null  float64
 2   balcony     12711 non-null  float64
 3   price       13320 non-null  float64
dtypes: float64(3), object(1)
memory usage: 416.4+ KB

In [ ]:
df.isnull().sum()

total_sqft      0
bath           73
balcony       609
price           0
dtype: int64

In [ ]:
df.describe().T

           count        mean         std  min   25%   50%    75%     max
bath     13247.0    2.692610    1.341458  1.0   2.0   2.0    3.0    40.0
balcony  12711.0    1.584376    0.817263  0.0   1.0   2.0    2.0     3.0
price    13320.0  112.565627  148.971674  8.0  50.0  72.0  120.0  3600.0

In [ ]:
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score,r2_score


from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import  KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import  MLPClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier


from sklearn.preprocessing import LabelEncoder,StandardScaler

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_sqft  13320 non-null  object
 1   bath        13247 non-null  float64
 2   balcony     12711 non-null  float64
 3   price       13320 non-null  float64
dtypes: float64(3), object(1)
memory usage: 416.4+ KB

In [ ]:
# change all data type using LabelEncode

data=df

label_encoders = {}
categorical_columns = data.columns  # I would recommend using columns names here if you're using pandas. If you're using numpy then stick with range(n) instead

for column in categorical_columns:
    label_encoders[column] = LabelEncoder()
    data[column] = label_encoders[column].fit_transform(data[column])

In [ ]:
from sklearn.model_selection import train_test_splitx_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)
print('Shape of x_train = ',x_train.shape)
print('Shape of y_train = ',y_train.shape)
print('Shape of x_test = ',x_test.shape)
print('Shape of y_test = ',y_test.shape)

In [ ]:
#Defined X value and y value , and split the data train
#X = data.drop(bathcolumns="bath")     
#y = data[bath]
#Xtrain, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=30)

#print("X Train : ", X_train.shape)
#print("X Test  : ", X_test.shape)
#print("Y Train : ", y_train.shape)
#print("Y Test  : ", y_test.shape)

In [ ]:
data.head()

   total_sqft  bath  balcony  price
0          70     1        1    392
1        1288     4        3   1599
2         514     1        3   1047
3         602     2        1   1520
4         239     1        1    767

In [ ]:
#Defined object from library classification 

LR = LogisticRegression()
DTR = DecisionTreeClassifier()
RFR = RandomForestClassifier()
KNR = KNeighborsClassifier()
MLP = MLPClassifier()
XGB = XGBClassifier()

In [ ]:
# make for loop for classification 

li = [LR,DTR,RFR,KNR,MLP,XGB]
d ={}

for i in li:
    i.fit(X_train,y_train)
    ypred = i.predict(X_test)
    print(i,":",accuracy_score(y_test,ypred)*100)
    d.update({str(i):i.score(X_test,y_test)*100})

NameError: ignored